{% extends 'shop/basic.html' %}

{% block title %} About US {% endblock %}
{% block css %}


{% endblock %}

{% block body %}

<main role="main">





    <div class="container marketing">


        <div class="row my-4">
            <div class="col-lg-7">

                <h3><b style="color: brown;">Oushud.com aims to empower patients to better manage their health</b></h3>
                <p>Oushud.com brings to you a digital platform for all your healthcare needs from genuine medicines to
                    vitamins conveniently from your home.

                    .</p>

            </div>


        </div>


        <!-- START THE FEATURETTES -->

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading">Browse hundreds of medicine and health products <span class="text-muted">
                </h2>
                <p class="lead">In Oushud.com you will have wide variety of products from diaper to pharmasuticals
                    drugs, Oral tablets to Injection , Everything will be available in our shop.
                    In this covid era, people need not to go to phisycal pharmacy to access to medicine
                </p>
            </div>
            <div class="col-md-5">
                <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500"
                    height="500" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice"
                    focusable="false" role="img" aria-label="Placeholder: 500x500">
                    <title>Placeholder</title>
                    <image href="/media/shop/images/download.jpeg" x="0" y="0" width="100%" height="100%"></image>
                </svg>
            </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7 order-md-2">
                <h2 class="featurette-heading">See where your product is</h2>
                <p class="lead">

                    You will be able to track your product by providing product_id and email.And can
                    estimate when your product will be dilivered.</p>
            </div>
            <div class="col-md-5 order-md-1">
                <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500"
                    height="500" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice"
                    focusable="false" role="img" aria-label="Placeholder: 500x500">
                    <title>Placeholder</title>
                    <image href="/media/shop/images/tracker.jpg" x="0" y="0" width="100%" height="100%"></image>

                </svg>
            </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading">Order your pathological test from home.</h2>
                <p class="lead">You can order medical test from home. Our trained staff will go to your place and
                    collect your specimen. You will get results by 3 business days</p>
            </div>
            <div class="col-md-5">
                <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500"
                    height="500" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice"
                    focusable="false" role="img" aria-label="Placeholder: 500x500">
                    <title>Placeholder</title>
                    <image href="/media/shop/images/athome.png" x="0" y="0" width="100%" height="100%"></image>
                    dy=".3em">500x500</text>
                </svg>
            </div>
        </div>

        <hr class="featurette-divider">

        <!-- /END THE FEATURETTES -->

    </div><!-- /.container -->


    <!-- FOOTER -->
    <footer class="container">
        <p class="float-right"><a href="#">Back to top</a></p>
    </footer>
</main>

{% endblock %}